{% extends "base.html" %}
{% load static %}

{% block title %}
    StoryTeller
{% endblock %}

{% block css_files %}
   <link rel="stylesheet" href="{% static 'storyTellerApp/addstory.css' %}">
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.css">

{% endblock %} 

{% block content %}
<header id="main-navigation">
    <h1>StoryTeller</h1>
    <nav><a href="{% url "home_page" %}"> Home</a></nav>
    <nav><a href="{% url "stories_page" %}"> Stories</a></nav>
    <nav><a href="{% url "mystories" %}"> My Stories</a></nav>
    <nav><a href=""> Liked Stories</a></nav>
    <nav><a href="{% url "addstory" %}"> Add Stories</a></nav>
    <nav><a href=""> Search</a></nav>
    <nav><a href="{% url "settings" %}"> Profile Settings</a></nav>
    <nav><a href="{% url "signout" %}"> Logout </a></nav>
</header>
<div id="upload-stories">
    <h3>Upload a Story</h3>
</div>
	<form action="addstory" method="POST" enctype="multipart/form-data" id="form">
        {% csrf_token %}
		<label for="title">Title:</label>
		<input type="text" id="title" name="title"><br><br>
		
		<label for="tags">Tags:</label>
		<input type="text" id="tags" name="tags"><br><br>

        <input type="hidden" name="type" id="type"> 
        <label for="radius">radius:</label>
        <input type="text" name="radius" id="radius">
        <label for="coordinates">coordinates:</label>
        <input type="text" name="coordinates" id="coordinates">

        <label for="address">address:</label>
        <input type="text" name="address" id="address">
        
        <input type="hidden" name="coordinatessearch" id="coordinatessearch">
        
        <input type="hidden" name="locations" id="locations">
        
        <div id="map"></div>
        <br><br>
		
        <fieldset>
			<legend>Date:</legend>
			<label for="session">Session:</label>
			<select id="session" name="session">
				<option value="">-- Select Session --</option>
				<option value="fall">Fall</option>
				<option value="winter">Winter</option>
				<option value="spring">Spring</option>
                <option value="summer">Summer</option>
			</select><br><br>

            <label for="decade">Decade:</label>
			<select id="decade" name="decade">
				<option value="">-- Select Decade --</option>
				<option value="2020's">2020's</option>
				<option value="2010's">2010's</option>
				<option value="2000's">2000's</option>
                <option value="1990's">1990's</option>
                <option value="1980's">1980's</option>
                <option value="1970's">1970's</option>
                <option value="1960's">1960's</option>
                <option value="1950's">1950's</option>
			</select><br><br>
			
			<label for="year">Year:</label>
			<select id="year" name="year">
				<option value="">-- Select Year --</option>
				<option value="2023">2023</option>
				<option value="2022">2022</option>
				<option value="2021">2021</option>
                <option value="2021">2020</option>
                <option value="2021">2019</option>
                <option value="2021">2018</option>
			</select><br><br>
			
			<label for="month">Month:</label>
			<select id="month" name="month">
				<option value="">-- Select Month --</option>
				<option value="1">January</option>
				<option value="2">February</option>
				<option value="3">March</option>
				<option value="4">April</option>
				<option value="5">May</option>
				<option value="6">June</option>
				<option value="7">July</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select><br><br>
			
			<label for="exact_date">Exact Date:</label>
			<input type="date" id="exact_date" name="exact_date"><br><br>
		</fieldset>
		
	
        <div class="form-group">
            {{ form.as_p}}
            {{ form.media }}
        </div>
        

		<input type="submit" value="Submit">
	</form>

    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        var map = L.map('map').setView([0, 0], 1);
        L.tileLayer('https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=ObmhcyIVPHpLuSAuaCKz', {
            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'
        }).addTo(map);

        var geocoder = L.Control.geocoder().on('markgeocode', function(event) {
            var center = event.geocode.center;
            L.marker(center).addTo(map);
            map.setView(center, map.getZoom());
            var result = event.geocode;
            var latlng = result.center;
            var latlng = result.center.toString().replace(/^latlng\(/i, '').replace(/\)$/, '');
            var address = result.name + ', ' + result.properties.address.city;
            document.getElementById("address").value = address;
            document.getElementById("coordinates").value = latlng;
            document.getElementById("coordinatessearch").value = latlng;
        }).addTo(map);
       

        var drawnFeatures = new L.FeatureGroup();
        map.addLayer(drawnFeatures);
        
        var locationData = [];

        var drawControl = new L.Control.Draw({
            edit: {
                featureGroup: drawnFeatures,
                remove: false
            },
            draw: {
                polygon: {
                    shapeOptions: {
                        color: 'blue'
                    },

                    drawError: {
                        color: 'red',
                        timeout: 1000
                    },
                },
                polyline: {
                    shapeOptions: {
                        color: 'green'
                    },
                },
                rectangle: {
                    shapeOptions: {
                        color: 'orange'
                    },
                },
                circle: {
                    shapeOptions: {
                        color: 'red'
                    },
                },
            },
        });
        map.addControl(drawControl);

        map.on("draw:created", function (e) {
            var type = e.layerType;
            var layer = e.layer;
            drawnFeatures.addLayer(layer);

            if (type == 'circle') {
                var radius = layer.getRadius();
                console.log(radius);
                document.getElementById("radius").value = radius;
            }
           
            layer.bindPopup('<p>' +  JSON.stringify(layer.toGeoJSON().geometry.coordinates) + '</p>');
            
            var coordinates = JSON.stringify(layer.toGeoJSON().geometry.coordinates);
            var locationType = JSON.stringify(layer.toGeoJSON().geometry.type);
            
            document.getElementById("coordinates").value = coordinates;
            document.getElementById("type").value = locationType.replace(/'/g, '');

            var location = layer.toGeoJSON();
            locationData.push(location);
            var locationDataStr = JSON.stringify(locationData);

            document.getElementById("locations").value = locationDataStr;

            if(layer.toGeoJSON().geometry.type == "Polygon"){
                var len=layer.toGeoJSON().geometry.coordinates[0][0][0];
                var lats = layer.toGeoJSON().geometry.coordinates[0][0][1];
                console.log(len);
                console.log(lats);
                ReverseGeocoding(len, lats);
            }
            if(layer.toGeoJSON().geometry.type == "LineString"){
                var len = layer.toGeoJSON().geometry.coordinates[0][0];
                var lats = layer.toGeoJSON().geometry.coordinates[0][1];
                console.log(len);
                console.log(lats);
    
                ReverseGeocoding(len, lats);
            }
            if(layer.toGeoJSON().geometry.type == "Point"){
                var len=layer.toGeoJSON().geometry.coordinates[0];
                var lats = layer.toGeoJSON().geometry.coordinates[1];
                console.log(len);
                console.log(lats);
                ReverseGeocoding(len, lats);
            }
        

        });

        function ReverseGeocoding(lon, lat) {
            fetch('http://nominatim.openstreetmap.org/reverse?format=json&lon=' + lon + '&lat=' + lat).then(function(response) {
              return response.json();
            }).then(function(json) {
              document.getElementById('address').value = json.display_name;
            })
          }

        map.on("draw:edited", function (e) {
            var layers = e.layers;
            layers.eachLayer(function (layer) {
                console.log(layer)
                console.log(layer.toGeoJSON());
            })

        });
    
        map.on("draw:deleted", function (e) {
            var layers = e.layers;
            layers.eachLayer(function (layer) {
                console.log(layer)
                console.log(layer.toGeoJSON());
            })
        });

        
        
    </script>

{% endblock %}


  



        