{% extends "base.html" %}
{% load static %}

{% block title %}
    StoryTeller
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'storyTellerApp/storypreview.css' %}">
    <link rel="stylesheet" href="{% static 'storyTellerApp/home.css' %}">
{% endblock %} 

{% block content %}


<div id="recent-stories">
    <h3>Recent Stories</h3>
</div>
<section id="all-posts">
    <ul>
        {% for story in stories %}
            {% include "storyTellerApp/includes/story_preview.html"%}
        {% endfor %}
        
    </ul>

</section>

  



{% endblock %}