{% extends "base.html" %}
{% load static %}

{% block title %}
    StoryTeller
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'storyTellerApp/storypreview.css' %}">
    <link rel="stylesheet" href="{% static 'storyTellerApp/home.css' %}">
    <link rel="stylesheet" href="{% static 'storyTellerApp/profilepage.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %} 
{% block content %}
<header id="main-navigation">
    <h1>StoryTeller</h1>
    <nav><a href="{% url "home_page" %}"> Home</a></nav>
    <nav><a href="{% url "stories_page" %}"> Stories</a></nav>
    <nav><a href="{% url "mystories" %}"> My Stories</a></nav>
   
    <nav><a href="{% url "addstory" %}"> Add Stories</a></nav>
    <nav><a href="{% url "settings" %}"> Profile Settings</a></nav>
    <nav><a href="{% url "signout" %}"> Logout </a></nav>
    <form action ="/search" method="POST">
        {% csrf_token %}
        <div class="left-side">
                <input type="text" name="search" placeholder="Search.." style="width:10rem; height:2rem;">
                <button type="submit" style="width:3rem; height:2rem;"><i class="material-icons">search</i></button>
                
        </div>
    </form>
</header>

<section id="profileview">
    <div class="row">
        <div class="column">
            <img src="{{user_profile.profile_picture.url}}"/>
            <h4> {{ user_profile.bio}} </h4>
        </div>
        <div class="column">
            <h4> {{ user_profile.first_name }} </h4>
            <h4> {{ user_profile.last_name}} </h4>
            <h4> {{ user_profile.email}} </h4>
            <h4> @{{ user_profile.username}} </h4>
           
        </div>
    </div>
   
    <section id="profile-posts" >
        <h3>Stories</h3>
        <ul>
            {% for story in story %}
                {% include "storyTellerApp/includes/story_preview.html"%}
            {% endfor %}
        </ul>
    
    </section>
    
</section>

  






{% endblock %}