{% extends "base.html" %}
{% load static %}

{% block title %}
    StoryTeller
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'storyTellerApp/story.css' %}">
{% endblock %} 

{% block content %}
    
    <section id="storyview">
        <h2> {{ story.title }} </h2>
        <article>
            <adress> {{ story.author }} </adress>
            <div>
                Upload time <time>{{ story.date|date:"d M Y" }}</time>
            </div>
        </article>
        <img src="" alt={{ story.title }}/>
        <p> {{ story.content|linebreaks }} </p>
    </section>

{% endblock %}
