{% extends "base.html" %}
{% load static %}

{% block title %}
    StoryTeller
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'storyTellerApp/home.css' %}">
{% endblock %} 

{% block content %}
<header id="main-navigation">
    <h1>StoryTeller</h1>
    <nav><a href=""> Home</a></nav>
    <nav><a href=""> Stories</a></nav>
    <nav><a href=""> My Stories</a></nav>
    <nav><a href=""> Liked Stories</a></nav>
    <nav><a href=""> Add Stories</a></nav>
    <nav><a href=""> Search</a></nav>
    <nav><a href=""> Signup</a></nav>
    <nav><a href=""> Login</a></nav>
</header>
<section id="latest-posts">

               <img src="img_story.jpg" alt="Story Image" id="story-image">
               <p> </p>
               <p>
                   Example story.
               </p>
      
      
               
    
</section>


{% endblock %}