{% extends "base.html" %}
{% load static %}

{% block title %}
    StoryTeller
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'storyTellerApp/story_preview.css' %}">
    <link rel="stylesheet" href="{% static 'storyTellerApp/home.css' %}">
{% endblock %} 

{% block content %}

<section id="all-posts">
    <ul>
        {% include "storyTellerApp/includes/story_preview.html"%}
        {% include "storyTellerApp/includes/story_preview.html"%}
        {% include "storyTellerApp/includes/story_preview.html"%}
        {% include "storyTellerApp/includes/story_preview.html"%}
    </ul>

</section>


{% endblock %}