#recent-stories {
  background: white;
  margin-top: 10rem; 
  margin-left: 10rem;
}

#recent-stories h3 {
  text-align: left;
  color: #0045e7;

}

#all-posts {
  margin: 7rem auto;
  width: 50%;
  max-width: 60rem;
  margin-right: 10rem;
}

#all-posts h2 {
  text-align: center;
  font-size: 2rem;
  color: #2e2e2e;
  margin: 3rem 0;
}

#latest-posts {
  background-color: #4d75ed;
  border-radius: 12px;
  width: 20rem;
  height: 20rem;
  margin-top: 2rem; 
  margin-left: 10rem;
 
}

#latest-posts p {
  text-align: center;
  color: rgb(254, 254, 0);
}


