#recent-stories {
  background: white;
  margin-top: 10rem; 
  margin-left: 10rem;
}

#recent-stories h3 {
  text-align: left;
  color: #0045e7;

}

#all-posts {
  margin: 1rem 1rem 1rem 1rem;
  width: 50%;
}

#all-posts h2 {
  text-align: center;
  font-size: 2rem;
  color: #2e2e2e;
  margin: 3rem 0;
}

